mixin footer(content)
    footer.footer
        .footer__container
            .footer__logo-coll
                +logo
                .footer__text= content.text
            ul.footer__menu
                li.footer__menu-title= content.nav_title
                each menu_item in content.nav
                    li.footer__menu-item= menu_item
            ul.footer__menu
                li.footer__menu-title= content.about_title
                each menu_item in content.about
                    li.footer__menu-item= menu_item
            ul.footer__menu
                li.footer__menu-title= content.support_title
                each menu_item in content.support
                    li.footer__menu-item= menu_item
            .footer__subscribe
                .footer__menu-title= content.subscrp
                .footer__subscrp-text= content.subscrp_text
                +form-subscrip
        .footer__copyright-bar
            .footer__copyright-bar-text= content.cb_text
            .footer__icon-wrap
                i(class="fab fa-twitter footer__icon")
                i(class="fab fa-facebook-square footer__icon")
                i(class="fab fa-instagram footer__icon")
